.dialog__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;

}
.dialog__btn--open{
background-color: var(--primary-color);
color: var(--white);
padding: .5rem .5rem;
border: none;
cursor: pointer;
}

.dialog__modal{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    opacity: 0;
    scale: 0;
    transition: all .5s ;
    z-index: -1;
}

.dialog__modal .dialog__card{
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 25%;
    height: 30vh;
    position: relative;
}

.dialog__card > *:nth-child(3){
    align-self: flex-end;
}

.close__btn{
    position: absolute;
    right: 1rem;
}
.show-modal{
    opacity: 1;
    scale: 1;
    z-index: 1;
}
.modal__action{
background-color: transparent;
border: none;
color: var(--primary-color);
font-weight: 500;
margin-left: 1rem;

}
